*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.container {
    width: auto;
    height: auto;
    margin: 100px;
    border: 2px solid green;

}

.header {
    height: 150px;
    background-color: rgb(60, 179, 244);
}

h2 {
    font-size: 5rem;
    text-align: center;
    line-height: 150px;
}

.content {
    height: 400px;
}

.content .image {
    float: left;
    width: 75%;
    height: 100%;
    background-image: url('../1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -50px; 
}


.content .text {
    float: right;
    width: 25%;
    height: 400px;
    background-color: rgb(31, 135, 17);
}

.content .text h2 {
    padding-top: 100px;
}

.footer {
    height: 250px;
    background-image: url('../2.jpg');
    background-size: 100%;
}